
@{
    ViewBag.Title = "All Roles";
}


<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h1 class="text-danger">You DO NOT hsve permission to view this resource</h1>    
    <img src="~/images/Answer.png" style="height:300px; width:400px" />"

</div>

