@model IEnumerable<Employee>
@{ 
    
    ViewBag.Title = "Emp. List";
}
<div class="card-deck">
    @foreach ( var emp in Model )
    {
        <div class="card m-3" >
            <div class="card-header">
                <h3>@emp.Name</h3>
            </div>
            <img class="card-img-top small"  src="~/images/Answer.png"/>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@emp.Id" class="btn btn-primary">View</a>
                <a asp-controller="home" asp-action="edit" asp-route-id="@emp.Id" class="btn btn-primary">Edit</a>
                <a asp-controller="home" asp-action="delete"  asp-route-id="@emp.Id" class="btn btn-danger">Delete</a>
                
            </div>
        </div>

    }

</div>
